### Chapter 5 Practice - by DeeDee Walker

#### 5.3 Tuples - Practice by DeeDee Walker

Create empty tuple with empty parentheses

In [1]:
student_tuple = ()

In [2]:
student_tuple

()

In [3]:
len(student_tuple)

0

You can pack a tuple by separating values with commas

In [4]:
student_tuple = 'John', 'Green', 3.3

In [5]:
student_tuple

('John', 'Green', 3.3)

In [6]:
len(student_tuple)

3

Python always displays the contents of a tuple in parentheses, but you can add parentheses to the comma separated list if you wish

In [7]:
another_student_tuple = ('Mary','Red',3.3)

In [8]:
another_student_tuple

('Mary', 'Red', 3.3)

This is a one element tuple, note the comma with nothing after. The comma signifies it is a tuple, otherwise it would read as a string

In [9]:
a_singleton_tuple = ('red',)

In [10]:
a_singleton_tuple

('red',)

Tuple elements can be accessed individually. Like list, the indices start at 0

....continued notes & practice by DeeDee Walker

In [11]:
time_tuple = (9,16,1) # notes hour, minute, second

In [12]:
time_tuple

(9, 16, 1)

In [13]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2] #calculate the number of seconds since midnight

33361

Although immutable, the += augmented assignment statment can be used with strings & tubles and to append a list

In [14]:
tuple1 = (10,20,30)

In [15]:
tuple2 = tuple1

In [16]:
tuple2

(10, 20, 30)

In [17]:
tuple1 += (40,50)

In [18]:
tuple1

(10, 20, 30, 40, 50)

In [19]:
tuple2

(10, 20, 30)

In [20]:
numbers = [1,2,3,4,5]

In [21]:
numbers += (6,7)

In [22]:
numbers

[1, 2, 3, 4, 5, 6, 7]

Tuples may contain mutable objects. Even though a tuple is immutable, its elements are mutable

In [23]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

In [24]:
student_tuple[2][1] = 85

In [25]:
student_tuple

('Amanda', 'Blue', [98, 85, 87])

Self-Check 3 of 5.3 by DeeDee Walker

In [26]:
single = (123.45,)

In [27]:
single

(123.45,)

Self-Check 4 of 5.3 by DeeDee Walker - You get a type error when you try to concatenate sequences of diffrent types - Example: list & a tuple using +

In [28]:
[1,2,3] + (4,5,6)

TypeError: can only concatenate list (not "tuple") to list

#### 5.4 Unpacking Sequences by DeeDee Walker

You can unpack any tuple, string, list, or sequence by assigning it's elements to a comma-separated list of variables

unpack a tuple

In [29]:
student_tuple = ('Amanda', [98,85,87])

In [30]:
first_name, grades = student_tuple

In [31]:
first_name

'Amanda'

In [32]:
grades

[98, 85, 87]

unpack a string

In [33]:
first, second = 'hi'

In [34]:
print(f'{first} {second}')

h i

unpack a list

In [35]:
number1, number2, number3 = [2,3,5]

In [36]:
print(f'{number1} {number2} {number3}')

2 3 5

unpack a sequence produced by range

In [37]:
number1, number2, number3 = range(10,40,10)

In [38]:
print(f'{number1} {number2} {number3}')

10 20 30

You can swap two variable values using sequence packing & unpacking

......continued notes & practice by DeeDee Walker

In [39]:
number1 = 99

In [40]:
number2 = 22

In [41]:
number1, number2 = (number2, number1)

In [42]:
print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

enumerate is a built-in function that is preferred for accessing an element's index and value. The function receives an iterable and creates an iterator that, for each element, returns a tuple containing the element's index and value

this uses built-in function lists to create a list containing enumerate's results

In [43]:
colors = ['red', 'orange', 'yellow']

In [44]:
list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

built-in function tuple creates a tuple from a sequence

In [45]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

This for loop unpacks each tuple returned by enumerate into the varaibles index & value and displays them:

In [46]:
for index, value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: orange
2: yellow

Below: The for statement uses enumerate to get each element's index & value..........continued practice by DeeDee Walker

In [47]:
# fig05_01.py
"""Displaying a bar chart"""
numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" * value}')

Creating a bar chart from numbers:
Index   Value   Bar
    0      19   *******************
    1       3   ***
    2      15   ***************
    3       7   *******
    4      11   ***********

Self Check 2 of 5.4 by DeeDee Walker

In [48]:
'-' * 10

'----------'

Self Check 3 of 5.4 by DeeDee Walker

In [49]:
high_low = ('Monday', 87, 65)

In [50]:
high_low

('Monday', 87, 65)

In [51]:
print(f'{high_low[0]}: High={high_low[1]}, Low={high_low[2]}')

Monday: High=87, Low=65

In [52]:
day, high, = high_low #example showing you have to unpack all the elements

ValueError: too many values to unpack (expected 2)

In [53]:
day, high, low = high_low

Self Check 4 of 5.4 by DeeDee Walker

In [54]:
names = ['Amanda', 'Sam', 'David']

In [55]:
for i, name in enumerate(names):
    print(f'{i}: {name}')

0: Amanda
1: Sam
2: David